
/* General Setups */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #add8e6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    all: unset;
}

button {
    all: unset;
}

a:hover {
    cursor: pointer;
}


.flex-and-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.dashed-border {
    border: black 2px dashed;
} /*


/* General Setups */



/*      Header      */
header {
    background-color: #255ee9;
    color: white;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.header-container .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 160px;
    /*background-color: #daa520;*/
}

.header-container .container > div {
    padding: 20px; 
}

.header-container .container #link{
    flex-grow: 1;
    margin: auto;
    align-self: center;
}

.header-container .container #link ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}

.header-container .container #link ul li a {
    padding: 26px;
}


.header-container .container #logo{
    display: flex;
    width: 200px;
    flex-shrink: 0;
    align-items: center;
}

.header-container .container #logo img {
    width: 150px;
}

.header-container .container #login{
    display: flex;
    justify-content: flex-end;
    width: 200px;
    flex-shrink: 0;
}


.header-container .container #login button{
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 16px 20px;
    font-size: 15px;
}


.header-container .container #login button:hover {
    cursor: pointer;
}


/*      /Header      */

/*       Main     */

main {
    background-color: #f6f6f6;
}

main > div:nth-child(even) {
    background-color: white;
}

/*     Main-Line1     */
.container-line1 {
    background-color: #00008b;
    margin-bottom: 5px; 
    background-image: url(/img/jumbo.png);
    height: 700px;
    background-size: cover;
    
}

.container-line1 .sub-container {
    width: 1000px;
}

.container-line1 .sub-container .jumbo {
    color: white;
    text-align: center;
}

.container-line1 .sub-container .jumbo h2 {
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.container-line1 .sub-container .jumbo p {
    font-size: 25px;
    line-height: 60px;
    
}

.jumbo .buttons {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.jumbo .buttons > button {
    padding: 16px 20px;
    margin: 13px;
    font-size: 25px;
    background-color: white;
    color: black;
    border-radius: 100px;
}

.jumbo .buttons > button:hover{
    cursor: pointer;
}

.jumbo .buttons #broswer {
    background-color: #23272a;
    color: white;
}
/*     /Main-Line1     */

/*     Main-Line2    */
.container-repeat {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.container-repeat .sub-container {
    display: flex;
    padding: 150px;
}

.container-repeat .sub-content1 {
    flex-grow: 1;
}

.container-repeat .sub-content2 {
    width: 500px;
    flex-shrink: 0;
    text-align: left;
    padding-top: 40px;
    margin-right: 140px;
}

.container-repeat .sub-content2 h2{
    font-size: 60px;
    padding-bottom: 20px;
   
}

.container-repeat .sub-content2 p {
    font-size: 25px;
    line-height: 1.5;
}

/*     /Main-Line2     */

/*     /Main-Line3    */
.line3 .sub-content1 {
    order: 1;
} 
/*    / Main-Line3     */


/*     Main-Line4     */

/******Replica Line2****/

/*    / Main-Line4     */


/*     Main-Line5     */
.line5 {
    padding: 160px auto;
}

.line5 .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 200px;
}

/* Line5 section1  */
.line5 .sub-container .section1{
    width: 60%;
    margin: auto;
    text-align: center;
}

.line5 .sub-container section h2 {
    font-size: 60px;
    padding-bottom: 25px;
}

.line5 .sub-container section p {
    font-size: 30px;
}
/* Line5 /section1  */

.line5 .sub-container img {
    margin: 0 auto;
}

/* Line5  section2  */
.line5 .sub-container .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line5 .sub-container .section2 div {
    align-self: center;
    text-align: center;
    
}

.line5 .sub-container .section2 h3 {
    font-size: 40px;
    padding: 50px;
    background-image: url(/img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.line5 .sub-container .section2 button{
    padding: 20px;
    text-align: center;
    align-self: center;
    width: 200px;
    font-size: 20px;
    background-color: #7288da;
    color:white;
    border-radius: 50px;
}
/*   /Line5  section2  */
/*    / Main-Line5     */
/*       /  Main     */

/*    Footer     */
/*    / footer-Line6    */
footer {
    background-color: #23272a;
}

#line6 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#line6 .sub-container {
    display: flex;
    color: white;
    font-size: 15px;
    line-height: 2;
    padding: 0 200px;
    margin: auto 0;
}

/* Footer line 6 subcontent1 */
#line6 .sub-content1 {
    width: 280px;
    flex-shrink: 0;
}

#line6 .sub-content1 .social-title {
    color: #7288da;
    font-size: 30px;
    line-height: 1;
}

#line6 .sub-content1 .social-icons i {
    padding: 10px;
}
/*     /Footer line 6 subcontent1 */

#line6 .sub-content2 {
    flex-grow: 1;
    display: flex;
}

/* Footer line 6 subcontent2 - columns */
#line6 .sub-content2 .column-content {
    padding-right: 100px;
    flex-grow: 1;
    padding-bottom: 60px;
}

#line6 .sub-content2 .column-content ul {
    list-style-type: none;
}

#line6 .sub-content2 .column-content h4 {
    color: #7288da;
    font-size: bold;
}
/* /  Footer line 6 subcontent2 - columns */
/*    / Footer-Line6   */

/*    Footer-Line   */
.footer-line {
    padding-bottom: 80px;
}

.footer-line .sub-container {
    display: flex;
    width: 1200px;
    border-top: solid 1px #7288da;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.f-element {
    padding: 12px;
}

/* Footer register button  */
.f-element button {
    padding: 15px;
    text-align: center;
    align-self: center;
    font-size: 12px;
    background-color: #7288da;
    color:white;
    border-radius: 50px;
}
/* /Footer register button  */
/*   / Footer-Line   */
/*    Footer     */


