* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #add8e6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

/*
.dashed-border {
    border: black 2px dashed;
}
/*
/*      Header      */
header {
    background-color: #255ee9;
    color: white;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.header-container .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 240px;
    /*background-color: #daa520;*/
}

.header-container .container > div {
    padding: 15px; 
}

.header-container .container #link{
    flex-grow: 1;
    margin: auto;
    align-self: center;
}

.header-container .container #link ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.header-container .container #link ul li a {
    padding: 40px;
}


.header-container .container #logo{
    display: flex;
    width: 300px;
    flex-shrink: 0;
    align-items: center;
}

.header-container .container #logo img {
    width: 250px;
}

.header-container .container #login{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    flex-shrink: 0;
}


.header-container .container #login button{
    all: unset;
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 25px 30px;
    font-size: 25px;
}


.header-container .container #login button:hover {
    cursor: pointer;
}


/*      /Header      */

/*       Main     */

main {
    background-color: #f6f6f6;
}

main > div:nth-child(even) {
    background-color: white;
}

/*     Main-Line1     */

.container-line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00008b;
    margin-bottom: 5px; 
    background-image: url(/img/jumbo.png);
    height: 1000px;
    background-size: cover;
    
}

.container-line1 .sub-container {
    width: 1400px;
}

.container-line1 .sub-container .jumbo {
    color: white;
    text-align: center;
}

.container-line1 .sub-container .jumbo h2 {
    font-size: 90px;
    font-weight: bolder;
    padding-bottom: 60px;
}

.container-line1 .sub-container .jumbo p {
    font-size: 40px;
    line-height: 60px;
    
}

.jumbo .buttons {
    display: flex;
    padding: 45px;
    justify-content: center;
}

.jumbo .buttons > button {
    all: unset;
    padding: 25px 30px;
    margin: 20px;
    font-size: 40px;
    background-color: white;
    color: black;
    border-radius: 100px;
}

.jumbo .buttons #broswer {
    background-color: #23272a;
    color: white;
}
/*     /Main-Line1     */

/*     Main-Line2    */
.container-repeat {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.container-repeat .sub-container {
    display: flex;
    padding: 280px;
}

.container-repeat .sub-content1 {
    flex-grow: 1;
}

.container-repeat .sub-content2 {
    width: 700px;
    flex-shrink: 0;
    text-align: left;
    padding-top: 60px;
    margin-right: 200px;
}

.container-repeat .sub-content2 h2{
    font-size: 90px;
    padding-bottom: 30px;
   
}

.container-repeat .sub-content2 p {
    font-size: 35px;
    line-height: 1.5;
}

/*     /Main-Line2     */

/*     /Main-Line3    */
.line3 .sub-content1 {
    order: 1;
} 
/*    / Main-Line3     */


/*     Main-Line4     */

/******Replica Line2****/

/*    / Main-Line4     */


/*     Main-Line5     */
.line5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    padding: 140px auto;
}

.line5 .sub-container {
    height: 900px;
    width: 1200px;
    background-color: #228b22;

}
/*    / Main-Line5     */

/*    / Main-Line6    */
#line6 {
    display: flex;
    height: 630px;
    background-color: #23272a;
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: center;
    border-bottom: 2px solid #9a9a9a;
}

#line6 .sub-container {
    width: 1200px;
    height: 500px;
    display: flex;
}

#line6 .sub-content1 {
    width: 250px;
    flex-shrink: 0;
    background-color: #f08080;
}

#line6 .sub-content2 {
    flex-grow: 1;
    display: flex;
}

#line6 .sub-content2 .column-content {
    background-color: #20b2aa;
    border: 2px white dashed;
    flex-grow: 1;
}
/*    / Main-Line6   */

/*       /Main     */


/*    Footer     */
.footer-line {
    height: 110px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color: #23272a;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.footer-line .sub-container {
    display: flex;
    width: 1200px;
    height: 80px;
    background-color: #7fffd4;
    justify-content: space-between;
    align-items: center;
}

.f-element {
    background-color: #ffb6c1;
    padding: 8px;
}
/*    Footer     */


